<h1><%= t('.title') %></h1>

<table>

  <tbody>
  <% @categories.each do |category| %>
      <tr class = "read_section" data-id = "<%= category.id %>">
        <td>
          <%= category.title %>
        </td>
        <td>
          <%= link_with_icon('#', 'pencil', class: "edit_category_link") %>
          <%= link_with_icon([:admin,category], 'trash-o', method: :delete, data: { confirm: t('common.are_you_sure') }) %>
          <%= link_with_icon(category, 'eye') %>
        </td>

      </tr>
      <tr class = "edit_section hidden" data-id = "<%= category.id %>">
        <td>
          <%= render 'form', category: category %></div>
        </td>
        <td>
          <%= link_with_icon('#', 'ban', class: "cancel_edit_category_link") %>
        </td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>

<h3><%= t('.new')%></h3>
<%= render 'form', category: @category %>