<p><div class="status">
  <% case
       when post.draft? %>
      <%= t('.unpublished_draft') %>
  <% when post.moderated? %>
      <%= t('.under_moderation') %>
  <% end %>
</div>

<div class="categories">
  <% if !post.categories.empty? %>
      <strong><%= t('.categories') %>: </strong><%= post.categories_list %>
  <% end %>
</div>

<div class="created_by">
  <strong><%= t('.author') %>: </strong>
  <%= post.user.present? ? post.user.email : t('.anonymous') %>
</div>

<div>

<% inline = false unless local_assigns[:inline] %>
<% post_type = (post.draft? ? t('.draft') : t('.post')) %>
<% if user_signed_in? && current_user.can_edit?(post) %>
    <% if inline %>
      <em><%= link_with_icon '#', 'pencil', title: "#{t('common.edit')} #{post_type}", class: "edit_post_link" %></em>
    <% else %>
          <em><%= link_with_icon edit_post_path(post), 'pencil', title: "#{t('common.edit')} #{post_type}" %></em>
    <% end %>
    <em>|  <%= link_with_icon post, 'trash-o', title: "#{t('common.destroy')} #{post_type}", method: :delete, data: { confirm: t('common.are_you_sure') } %></em>
    <% if user_signed_in? && current_user.is_admin? # ---- ADMIN   %>
        <% if post.draft? || post.moderated? %>
            <strong><em>|  <%= link_with_icon publish_post_path(post), 'thumbs-o-up', title: t('.approve'), method: :put, data: { confirm: t('common.are_you_sure') } %></em></strong>
        <% end %>
        <% if post.approved? || post.moderated? %>
            <% if post.user.present? %>
                  <strong><em>|  <%= link_with_icon return_to_draft_post_path(post), 'thumbs-down', title: t('.decline'), method: :put, data: { confirm: t('common.are_you_sure') } %></em></strong>
            <% else %>
              <em>|   (<%= t('.unreturnable') %>)</em>
            <% end %>
        <% end %>

    <% else # ---- NOT ADMIN %>
      <% if post.draft? %>
        <em>|  <%= link_with_icon publish_post_path(post), 'thumbs-o-up', title: t('.publish'), method: :put, data: { confirm: t('common.are_you_sure') } %></em>
      <% else %>
        <% if post.user.present? %>
          <em>|  <%= link_with_icon return_to_draft_post_path(post), 'thumbs-down', title: t('.return_to_draft'), method: :put, data: { confirm: t('common.are_you_sure') } %></em>
        <% end %>
      <% end %>
    <% end %>
<% end %>
</div>
</p>