<div class="read_section" data-id = "0">
  <h3>
    <%= @post.title %>
  </h3>
  <%= render 'posts/post_additional_info', post: @post, inline: true %>

  <p>
    <%= @post.body %>
  </p>
</div>
<div class="edit_section hidden" data-id = "0">
  <%= render 'form', post: @post %>
  <em><%= link_with_icon '#', 'ban', title: "#{t('common.cancel')}", class: "cancel_edit_post_link" %></em>
</div>

<% if @post.approved? %>
  <% if user_signed_in? && @post.user != current_user && !@post.subscribers.include?(current_user) %>
    <%= form_tag(add_subscriber_post_path, method: :put) do %>
          <%= submit_tag t('.subscribe') %>
    <% end %>

  <% end %>
  <% if @post.comments.empty? %>
      <p><em><%= t('.no_comments')%></em></p>
  <% else %>
      <h4><%= t('.comments') %></h4>
      <%= render @post.comments %>
<% end %>


  <h4><%= t('.new_comment')%></h4>
  <%= render 'comments/form', comment: @comment %>
<% end %>




